<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cynthia.bihu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Tools.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="逼乎"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".Activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LogInActivity"/>
        <activity android:name=".Activity.AskQuestionActivity" />
        <activity android:name=".Activity.AnswerQuestionActivity" />
        <activity android:name=".Activity.YourFavoriteActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.ChangeAvatarActivity" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cynthia.bihu.Activity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>